@media (max-width: 1600px) {
.login-section .right-logo img {width: 360px; } 
.login-section .right-logo {margin-bottom: 90px; }
}
@media (max-width: 991.98px){
    .right-sec-text p{font-size: 16px; } 
    .right-sec-text a{font-size: 16px; } 
    .login-section .right-logo-user img {
        width: 248px;
    }
    .login-section .right-logo-user {
        margin-bottom: 60px;
    }
    .login-section .login-right-side-col {
    height: auto;
}
.left-side-bg {
    height: 100vh;
}
    }
@media (max-width: 888.98px){
    .right-sec-text p{font-size: 14px; } 
    .right-sec-text a{font-size: 14px; } 
    }

@media (max-width: 767.98px){
.right-sec-admin {margin: 80px auto 80px; } 
.left-side-bg {height: 400px; background-position: center; }
.right-sec-text p{font-size: 20px; } 
.right-sec-text a{font-size: 20px; } 
.bottome-sos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 20px;
    position: unset;
}
}

@media (max-width: 575px) {
  
    .right-sec-sos .col-md-4 {
        padding: 10px 30px;
        padding-right: 6px;
    }
.right-sec-admin {margin: 40px auto 40px; } 
.left-side-bg {height: 360px; }
.login-section .right-logo-user img {width: 220px; }
.login-section .right-logo-user {margin-bottom: 30px; }
.right-sec-text {padding-top: 20px; }
.right-sec-text p{font-size: 18px; margin-bottom: -18px; }
.right-sec-text a{font-size: 18px; }
.login-section .login-right-side-col {
    height: auto;
}



 }

@media (max-width: 500px) {
    .right-sec-sos .col-md-4 {
        padding: 10px;
        padding-right: 6px;
    }
    .login-section .right-logo-user img {width: 190px; }
 .line-formate {display: inline-flex; flex-direction: column; }  
.right-sec-text p{font-size: 16px; }
.right-sec-text a{font-size: 16px; }
}