img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    line-height: normal;
}
a img, img {
    border: none;
    outline: none !important;
    outline-offset: 0 !important;
}

.left-side-bg { height: 100vh; width: 100%; background-image: url('../images/Left-Hand-side-img.png'); background-repeat: no-repeat; background-size: cover; }
.login-section .right-logo-user img {
    width: 318px;
}

.login-section .login-right-side-col {
    height: 100vh;
    overflow: auto;
    display: flex;
}
.login-section .right-logo-user {
    margin-bottom: 90px;
    text-align: center;
}

.right-sec-admin {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*icone set */
.right-sec-sos {display: flex;  align-items: center; max-width: 524px; width: 100%; justify-content: center;}
/*link */

.click_app {
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}
.line-formate {
    display: inline-flex;
}
.right-sec-text {
    padding-top: 40px;
}
.right-sec-text p{
	font-size: 22px;
}
.right-sec-text a{
	font-size: 22px;
	color: #000;
	font-weight: 700;

}
.right-sec-text a:hover {
color: #0056b3;
text-decoration: none;
}



.bottome-sos {position: absolute; bottom: 20px; right: 20px; display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center; } 
.facebook-icon, .insta-icon {padding: 10px; font-size: 30px; }
.fa-facebook-square:before {color: #3b5998 ; } 
.fa-instagram:before {color: #8a3ab9; }


.click_app {
    text-align: center;
    align-items: center;
}

.bottome-sos .facebook-icon img, .bottome-sos .insta-icon img {
    width: 30px;
}