

@media (max-width: 1650px) {

/*	h1 { font-size:75px; font-weight: bold;}
	h2 { font-size:65px; font-weight: bold;}
	h3 { font-size:40px; }
	h4 { font-size:34px; }
	h5 { font-size:30px; }  
	h6 { font-size:20px; }*/

	.form-control{padding:10px 24px;height:70px;}
	.form-main .form-group{margin-bottom:25px;}
	.form-group .btn.submit-btn{margin-top:15px;}
	.banner-btn ul li a img {width: auto;height: 48px;}

	.about-img-wrap .about-img img{max-height:750px;}
			
}



@media (max-width: 1499px) { 

	h1 { font-size:65px; }
	h2 { font-size:58px; }
	h3 { font-size:36px; }
	h4 { font-size:32px; }
	h5 { font-size:28px; }  
	h6 { font-size:20px; }

	p{font-size:16px;line-height:28px;}
	.btn{padding:10px 20px;font-size:16px;}
	.subscribe-form-main .subscribe-wp .subscribe-btn{top:12px;}
	.features-sec .features-inner .features-wrap{padding:60px 50px;}
	.features-wrap .section-title{margin-bottom:40px;}
	.banner-sec .banner-wrap{padding:60px 0px 40px;}
	.contact-us-sec .contact-us-wrap {padding: 60px 50px;}

	.features-wrap .section-title p{font-size:18px;line-height:30px;margin-top:22px;}
	.features-sec .features-inner{padding-bottom:50px;}
	.about-text-box p{font-size:20px;line-height:36px;}
	.about-text-box.vision-mission h3{margin-bottom:22px;}
	.about-text-box.vision-mission{margin:70px 0px 30px;}
	.contact-link-main .contact-wrap{padding:25px 0px;}
	.contact-link-main .contact-wrap a.contact-link{font-size:18px;}
	.contact-link-main .contact-wrap p{font-size:18px;line-height:30px;}
	ul.slick-dots li button{width:12px;height:12px;}
	ul.slick-dots li{padding:8px;}
	.app-screenshot-slider ul.slick-dots{margin:70px 0px 0px;}
	.download-app-sec{padding:80px 0px;}
	.footer-main .footer-text{padding:20px 0px;}
	.footer-main .footer-text p{font-size:16px;}

	.contactUs-content .section-title {margin-bottom: 25px; }
	.features-wrap .features-box {max-width: 270px;}

}


@media (max-width: 1299px) { 


	h1 { font-size:60px; }
	h2 { font-size:50px; }
	h3 { font-size:34px; }
	h4 { font-size:30px; }
	h5 { font-size:26px; }  
	h6 { font-size:20px; }

	p{font-size:16px;line-height:28px;}

	.about-text-box p {font-size: 19px; line-height: 34px; }
	.features-sec .features-inner {padding-top: 60px; }
	.contact-us-sec {padding: 70px 0px 70px; }
	.banner-btn ul li a img {height: 46px; }
}



@media (max-width: 1199.98px) { 

	h1 { font-size:55px; }
	h2 { font-size:46px; }
	h3 { font-size:30px; }
	h4 { font-size:28px; }
	h5 { font-size:24px; }  
	h6 { font-size:20px; }
	p{font-size: 15px;}
	
	.banner-sec .banner-wrap .banner-text h1{margin-bottom:20px;}
	.banner-sec .banner-wrap .banner-text h1{margin-bottom:20px;}
	.subscribe-form-main .subscribe-wp input.form-control{height:62px;}
	.subscribe-form-main .subscribe-wp .subscribe-btn{top:8px;}
	.features-sec .features-inner{padding:60px 0px;}
	.container{max-width:95%;}
	.header-main .container{max-width:100%;}
	.features-wrap .features-box{margin:25px auto;}
	.features-box .features-icon{width:50px;height:50px;background:#484b6e;text-align:center;line-height:55px;}
	.features-box .features-icon i{font-size:22px;}
	.features-wrap .features-box h3{margin-bottom:15px;}
	.features-sec .features-inner .features-wrap{padding:50px;}
	.contact-us-sec .contact-us-wrap{padding:50px;}
	.subscribe-sec{padding:60px 0px;}

	.header-logo img{max-width:230px;}
	.header-main .header-inner-main .header-inner .header-menu ul li a{font-size:15px;margin:0px 15px;padding:25px 0 30px;}
	.site-header{height: 73px;}

	.banner-sec .banner-wrap .banner-text p {font-size: 18px; line-height: 30px; margin: 25px 0px 45px; }
	.features-wrap .section-title p {font-size: 16px; line-height: 26px; margin-top: 20px; }

	.about-img-wrap .about-img{max-width:295px;}
	.about-text-box p{font-size:17px;line-height:30px;}
	.about-text-box{margin:20px 0px;}
	.about-text-box.vision-mission h3{margin-bottom:20px;}
	.about-text-box.vision-mission{margin:35px 0px 25px;}

}	




/*=========================================================
// Medium devices (tablets, less than 992px)
===========================================================*/

@media (max-width: 991.98px) 	{ 
	h1 { font-size:48px; }
	h2 { font-size:40px; }
	h3 { font-size:28px; }
	h4 { font-size:24px; }
	h5 { font-size:22px; }  
	h6 { font-size:18px; }
	p{font-size: 15px;}
	

	.header-main .header-inner-main .header-inner .header-menu .header-menu-inner {position: fixed; top: 65px; left: 0; right: 0; background: #f1f1f1; z-index: 777; height: calc(100vh - 58px); overflow: auto; transition: all 400ms ease; transform: translateX(-100%); visibility: hidden; opacity: 0; 	}
	.header-main .header-inner-main .header-inner .header-menu.show .header-menu-inner {transform: translateX(0); visibility: visible; opacity: 1; }
	.header-main .header-inner-main .header-inner .header-menu ul li a {margin: 0;padding:5px; width: auto; color: #000; font-size: 18px; }
	.header-main .header-right {margin-right: 0px;}
	.header-main .container {padding: 12px 15px;}
	.site-header {height: 65px;}	

	.header-main .header-menu .header-menu-inner > ul > li{text-align:center;border-bottom:1px solid #ccc;}
	.header-main .header-inner-main .header-inner .header-menu .header-menu-inner{padding-top:40px;}
	.header-main .header-menu .header-menu-inner > ul > li:last-child{border-bottom:none;}
	.header-main .header-menu .header-menu-inner > ul{width:85%;max-width:400px;margin:auto;}

	.login-btn ul li {margin-left: 00px;display: block;}
	.header-menu ul li .login-btn a.btn{color:#fff!important;}
	.header-menu ul li .login-btn a.btn::after{display:none!important;}
	.header-main .header-inner-main .header-inner .header-menu ul li a:hover:after,.header-main .header-inner-main .header-inner .header-menu ul li a.active:after{transform-origin:unset!important;bottom:0px;}
	.header-main .header-menu .header-menu-inner > ul > li {padding: 10px 15px;}
	.header-main .header-menu .header-menu-inner .login-btn > ul > li {padding-bottom: 20px;}

	.banner-img-wp{max-width:450px;margin:0 auto;margin-bottom:40px;}
	.banner-sec .banner-wrap .banner-text{max-width:100%;margin:0 auto;}
	.banner-btn ul li a img{height:44px;}
	.about-sec{padding:60px 0px;}
	.about-text-box{margin-left:0px;}
	/*.about-sec .about-text-wrap{padding:0px 25px;}*/	
	.about-img-wrap{max-width:450px;margin:0px auto;}
	.form-control{padding:8px 20px;height:55px;}

	.features-wrap .features-box{max-width:240px;}
	.contact-link-main .contact-wrap p{font-size:16px;line-height:26px;}
	.contact-link-main .contact-wrap a.contact-link{font-size:16px;}
	.contact-link-main .contact-wrap .content-right{width:185px;}
	.contact-link-main .contact-wrap .content-left{width:calc(100% - 185px);}
	.app-screenshot-sec{padding:60px 0;}
	.app-screenshot-slider ul.slick-dots{margin-top:40px;}
	.download-app-sec {padding: 60px 0px; }
	.banner-sec .banner-wrap .banner-text p {font-size: 16px; line-height: 26px; }

	.banner-btn ul li{margin-right: 10px;margin-bottom: 10px;}
	.footer-main .footer-text p{font-size:14px;}
	.footer-main .footer-text{padding:10px 0px;}
}

/*=========================================================
// Small devices (landscape phones, less than 768px)
===========================================================*/

@media (max-width: 767.98px) {


	h1 { font-size:48px; }
	h2 { font-size:40px; }
	h3 { font-size:26px; }
	h4 { font-size:24px; }
	h5 { font-size:22px; }  
	h6 { font-size:18px; }
	p{font-size: 14px;}
	
	.banner-sec .banner-wrap .banner-text .banner-btn{margin-top:25px;margin-bottom:35px;}
	
	.features-wrap .section-title{margin-bottom:15px;}
	.features-sec .features-inner .features-wrap{padding:40px 20px 20px;}
	.features-sec .features-inner .container{max-width:95%;}
	.features-sec .features-inner{padding-bottom:20px;}
	.about-sec{padding-bottom:30px;}
	.contact-us-sec .contact-us-wrap{padding:40px 20px;}
	.contact-b-col h5{margin-bottom:10px;}
	.contact-us-bottom{margin-top:15px;padding-top:35px;}
	.form-control{height:46px;border-radius:7px;}
	.subscribe-sec{padding:40px 0px;}
	.btn{padding:9px 20px;font-size:15px;}
	.subscribe-form-main .subscribe-wp .subscribe-btn{top:10px;min-width:135px;border-radius:6px;}
	.banner-sec .banner-wrap{padding-bottom:20px;}

	.banner-img-wp img{max-height:380px;}
	.banner-img-wp .banner-img{text-align:center;}
	.about-img-wrap{max-width:100%;}
	.about-img-wrap .about-img{max-width:250px;text-align:center;margin:auto;}
	.download-app-sec .download-app-wrap{text-align:center;}
	.download-app-sec .download-app-wrap h2{margin-bottom:25px;}
	.banner-btn ul li:last-child{margin-right:0px;}

	.features-wrap .features-box h3 {margin-bottom: 10px; }
	.features-sec .features-inner .features-wrap{border-radius:20px;}
	.contact-us-sec .contact-us-wrap{border-radius:20px;}
	.banner-img-wp .banner-img {padding-right: 17px; }
	.app-screenshot-slider .screenshot {padding-right: 25px; }
	
		
}

/*=========================================================
Extra small devices (portrait phones, less than 576px)
===========================================================*/
@media (max-width: 576px) { 


	.contact-link-main .contact-wrap{display:block;}
	.contact-link-main .contact-wrap .content-left{width:100%;margin-bottom:15px;}
	.contact-link-main .contact-wrap .content-right{width:100%;}
	.contactUs-content .section-title{margin-bottom:10px;}

	.features-wrap .section-title p br{display:none;}
	.features-wrap .features-box {max-width: 100%; }
	.app-screenshot-slider .screenshot {padding-right: 10px; }
	ul.slick-dots li{padding:5px;}
	ul.slick-dots li button{width:10px;height:10px;}

	.app-screenshot-wrap .slick-list.draggable {padding-right: 10%; }

}


@media (max-width: 481px) { 

	h1 { font-size:42px; }
	h2 { font-size:36px; }
	h3 { font-size:26px; }
	h4 { font-size:24px; }
	h5 { font-size:20px; }  
	h6 { font-size:16px; }
	p{font-size: 14px;} 

	.subscribe-form-main .subscribe-wp input.form-control{padding:10px 146px 10px 10px;border-radius:7px;}
	.banner-btn ul li a img{height:40px;}
	.features-wrap .features-box{margin:20px auto;}
	.features-box .features-icon{margin-bottom:15px;}
	.features-wrap .features-box h3{margin-bottom:10px;}
	.about-sec .about-text-wrap{padding:0px 10px;}
	.about-sec{padding-bottom:10px;}
	.contact-us-bottom .contact-b-row .contact-b-col{width:100%;margin:13px 0px;}
	.contact-b-col h5{margin-bottom:5px;}
	.contact-us-sec .contact-us-wrap{padding-bottom:10px;}
	.banner-sec .banner-wrap .banner-text .banner-btn {margin-bottom: 0px; }
	.contact-us-sec {padding: 50px 0px; }

	.contact-link-main .contact-wrap p{font-size:14px;line-height:22px;}
	.contact-link-main .contact-wrap p br{display:none;}
	
}




/*=========================================================
iPad Pro devices (portrait phones, less than 1021px)
===========================================================*/

/* ----------- iPad Pro ----------- */
  	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    }
 	/* Landscape*/

    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {

    }

    /* Portrait*/
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
		

	}

  