/* 01 : Website Global CSS BOF
========================================================== */

body,html {height: 100%; }
body { background:#ffffff;font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; line-height:normal; color:#030303;  text-transform: none;}
*, html { margin:0; padding:0;  }
a { color:#4D4D4D; display: inline-block;} /* Common color hyperlink */
a:hover, a:focus, a:active { color:#66E798; text-decoration:none; } /* Common hover color hyperlink */
a, *:hover, *:focus, *:active :focus { text-decoration:none; outline:none !important; outline-offset:0 !important; }
a img, img { border:none; outline:none !important; outline-offset:0 !important; }
ul { list-style:none; margin:0; padding:0; }
i { font-family:'FontAwesome'; }
img { height:auto; max-width:100%; vertical-align: middle; line-height:normal; }

/* Transition Effect CSS BOF */
a, i, input { transition: all 0.4s ease-in-out 0s; -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s;
-o-transition:all 0.4s ease-in-out 0s; -ms-transition:all 0.4s ease-in-out 0s; }

/* Browser Selection CSS BOF */
::selection { background:#66E798; color:#fff; } ::-moz-selection { background:#66E798; color:#fff; }
::-webkit-selection { background:#66E798; color:#fff; } ::-o-selection { background:#66E798; color:#fff; }
::-ms-selection { background:#66E798; color:#fff;  }

p a{color:#66E798;}
p a:hover{text-decoration:underline;}

/* 02 : Global Classes CSS BOF
==================================================== */

::-webkit-scrollbar{width: 6px; height: 4px; background: #ffffff; }
::-webkit-scrollbar-thumb{ background-color: #66E798; -webkit-border-radius:30px;  }
/* Only FireFox */
html {scrollbar-color: #66E798 #fff; scrollbar-width: thin; scrollbar-border-radius:30px;}


/* Background &amp; Color Style CSS BOF
=================================================== */

.none{display: none !important;}

/* Font Color Style CSS BOF */
	.white-color-text { color:#fff; }
	.blue-color-text { color: #162941; }
	.green-color-text{ color: #66E798;}
	.yellow-color-text{color: #F6EE31;}
	.gray-color-text{color: #A3A3A3}

.light-green-text{color:#66E798!important;}

/* Background Color Style CSS BOF */
	.blue-bg{background: #162941;}
	.green-bg{background:#66E798;}
	.yellow-bg{background:#F6EE31}
	.black-bg-overlay{background: }
	.light-white-bg{background:#FCFCFC;}

/*upload image background*/
	.upload-background{background: #EDEDED}
	.border-box{border:1px solid #eee; }

/* 03 : Heading Style CSS BOF
=================================================== */
	h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif; line-height:normal; font-weight: 500;  font-style:normal; color: #1A1A1A;}

	h1 { font-size:75px; font-weight: bold;}
	h2 { font-size:65px; font-weight: bold;}
	h3 { font-size:40px; }
	h4 { font-size:34px; }
	h5 { font-size:30px; }
	h6 { font-size:20px; }

/* Font Weight Variation CSS BOF */
	.font-we-rg { font-weight:normal;}
	.font-we-bl { font-weight:bold;}
	.font-we-blk {font-weight:900;}
	.font-we-sb {font-weight:600;}

/* 04 : Paragraph Style CSS BOF
=================================================== */
	p { line-height:25px;font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: normal; font-style:normal; color: #1A1A1A; margin-bottom: 16px; font-weight: normal;}

/* 05 : Image Style CSS BOF
=================================================== */
	img { margin-bottom:0; } /*margin-bottom:5px*/

/*** Buttton Varilation CSS BOF ***/
.btn{background-color:#484C6E;padding:10px 20px;font-size:18px;font-weight:400;font-family: 'Roboto', sans-serif;transition:all .4s ease-in-out 0s;-moz-transition:all .4s ease-in-out 0s;-webkit-transition:all .4s ease-in-out 0s;-o-transition:all .4s ease-in-out 0s;border-radius:10px;border:1px solid #484C6E;text-transform:capitalize;box-shadow:none;min-width:160px;color:#fff;}
/* Hover State CSS BOF */
	.btn:hover, .btn:focus, .btn:active{ background-color: #66E798; border:1px solid #66E798; color:#fff;  box-shadow: none; outline: none; }

/*yellow buttone css BOF*/
	.btn-add{background: #F6EE31; padding:10px 25px; color: #020202; font-size: 18px; font-weight: 600; font-family: 'Roboto', sans-serif; transition: all .4s ease-in-out 0s; -moz-transition: all .4s ease-in-out 0s; -webkit-transition: all .4s ease-in-out 0s; -o-transition: all .4s ease-in-out 0s; border-radius: 10px; border:1px solid #F6EE31; text-transform: capitalize;  box-shadow: none;}
	.btn-add:hover, .btn-add:focus, .btn-add:active{ background-color: #66E798; border:1px solid #66E798; color:#fff;  box-shadow: none; outline: none; }

	[type=button], [type=reset], [type=submit], button {
	-webkit-appearance: unset;
	}
/*tab active*/
	.tab-bg-top{background: #66E798; color: #fff; font-weight: bold;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0; }

/* 11 : Form &amp; Input Style BOF
==================================================== */
	.form-control{background:transparent;border:none;border:1px solid #B5B5B5;border-radius:10px;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;font-size:16px;color:#030303;-webkit-appearance:none;font-family:'ABeeZee',sans-serif;font-weight:normal;padding:10px 24px;height:85px;}
	textarea.form-control  { padding:30px 38px; resize:none; overflow:auto; height:85px; }

/*** Placeholder CSS BOF ***/
	.form-control::placeholder { color:#1A1A1A; font-weight: 400; font-size: 14px;}
	.form-control::-moz-placeholder { color:#1A1A1A; font-weight: 400; }
	.form-control:-ms-input-placeholder { color:#1A1A1A; font-weight: 400; }
	.form-control::-webkit-input-placeholder { color:#1A1A1A; font-weight: 400; }
	.form-control::-o-input-placeholder { color:#1A1A1A; font-weight: 400; }

/* Focus State CSS BOF */

	.form-control:focus,.form-select:focus {border-color: #66E798; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; background-color: #ffeef2; }
	.page-wrapper { margin:0px auto; overflow-x: hidden;}
	.text-underline{ text-decoration: underline; }
	.text-capitalize{ text-transform: capitalize !important; }
	.text-uppercase{ text-transform: uppercase !important; }
	.display-none{display: none !important; }
	.no-scroll{overflow: hidden;}
	.no-padding{padding: 0 !important; }
	.float-start-wp{float: left !important; }
	/*.page-wrapper { background: #FCFCFC; }*/

/*header active start*/

	.site-header{position: relative; height: 95px; z-index: 9999;}
	/*.header-main{width: 100%; position: fixed; z-index:999; transition: all 0.5s linear; top:0 !important; }*/
	.header-main.active {box-shadow: 0 0 10px rgba(0,0,0,0.4); }

/*header active end*/


/*index css Start*/

	.header-main .header-inner-main {position: relative; background-color: #ffffff; box-shadow: 0px 0px 20px rgba(0,0,0,0.05); }
	.header-main .header-inner-main .header-inner {width: 100%; align-items: center; }
	.header-main .header-inner-main  nav.navbar {padding: 0; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: -webkit-box; display: flex; flex-wrap: nowrap; align-items: center;}
	.header-main .header-inner-main .header-inner .header-menu ul li a {position: relative; font-size: 16px; color: #727272; margin: 0px 22px; font-weight: normal; padding: 42px 0 35px; }
	.header-main .header-inner-main .header-inner .header-menu ul li a:hover { color:#66E798;}
	.header-main .header-inner-main .header-inner .header-menu ul li a.active {color:#66E798; }
	.header-main .header-inner-main .header-inner .header-menu ul li a:after{display:block; content: ''; position: absolute; bottom: 22px; width: 100%; left: 0px; border-bottom: 2px solid #66E798; transform: scaleX(0); transition: transform 250ms ease-in-out;}
	.header-main .header-inner-main .header-inner .header-menu ul li a:hover:after , .header-main .header-inner-main .header-inner .header-menu ul li a.active:after{ transform: scaleX(1); transform-origin:  50% 50%; }
	.header-main .navbar-container {width: 100%; /*padding-left: 15px; padding-right: 15px;*/ margin-right: auto; margin-left: auto; }

/*toggele switch*/

	.header-main button.navbar-toggler {padding: 0; border: none; margin: 10px 0; top: 30px; }
	.header-main button.navbar-toggler span.icon-bar:nth-child(2) {visibility: hidden; opacity: 0; }
	.header-main button.navbar-toggler.collapsed span.icon-bar:nth-child(2) {visibility: visible; opacity: 1; }
	.header-main button.navbar-toggler span.icon-bar:nth-child(1) {top: 10px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); }
	.header-main button.navbar-toggler span.icon-bar:nth-child(3) {margin-right: auto; margin-left: 0; }
	.header-main button.navbar-toggler.collapsed span.icon-bar:nth-child(1), .header-main .header-inner .header-right button.navbar-toggler.collapsed span.icon-bar:nth-child(3) {top: 0; transform: rotate(0); -webkit-transform: rotate(0); -ms-transform: rotate(0); background: #162941; width: 18px; margin-right: 0; }
	.header-main button.navbar-toggler span.icon-bar {margin: auto; background-color: #162941; border-radius: 2px; display: block; height: 3px; position: relative; width: 28px; -webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -o-transition: all 200ms ease; -ms-transition: all 200ms ease; transition: all 200ms ease; }
	.header-main button.navbar-toggler .icon-bar+.icon-bar {margin-top: 6px; }
	.header-main .header-right {margin-left: auto;}
	.header-main button.navbar-toggler span.icon-bar:nth-child(3) {top: -8px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); }
/*dropdown*/

.header-main.active{position:fixed;width:100%;left:0px;right:0px;top:0px;}
.header-main{position:absolute;width:100%;right:0;top:0;left:0px;}

/*index css Start*/

.login-btn ul li{display:inline-block;margin-left:30px;}
/*.header-inner-main .container{max-width:100%;}*/

/*home-details listed property*/

.banner-btn ul li{display:inline-block;margin-right:15px;margin-bottom:15px;}
.banner-sec .banner-wrap{padding:90px 0px 40px;}
.banner-sec .banner-wrap .banner-text h1{margin-bottom:35px;}
.banner-sec .banner-wrap .banner-text .banner-btn{margin-top:40px; margin-bottom: 50px;}
.features-sec .features-inner{padding:90px 0px;}
.features-sec .features-inner .features-wrap{background:#F4F4F6;padding:80px;border-radius:35px;}
.features-sec .features-inner .container{max-width:90%;}
.features-wrap .section-title{margin-bottom:50px;}
.features-wrap .features-box{margin:40px auto;max-width:294px;}
.features-box .features-icon{width:70px;height:70px;background:#484b6e;text-align:center;line-height:85px;margin-bottom:25px;border-radius:100%;}
.features-box .features-icon i{font-size:30px;color:#fff;}
.features-wrap .features-box h3{margin-bottom:20px;}
.features-wrap .section-title p {font-size: 20px; line-height: 35px; margin-top: 30px; }
.about-text-box { margin: 35px auto; }
.container{max-width:90%;}
.subscribe-form-main .subscribe-wp{position:relative;max-width:525px;}
.subscribe-form-main .subscribe-wp input.form-control{height:70px;padding:13px 170px 13px 20px;border:1px solid #727272;border-radius:8px;}
.subscribe-form-main .subscribe-wp .subscribe-btn{position:absolute;top:10px;right:11px;min-width:160px;}
.banner-sec .banner-wrap .banner-text{max-width:721px;}
.banner-sec .banner-wrap .banner-text p {font-size: 20px; line-height: 35px; margin: 30px 0px 70px; }
.about-wrap .about-main{max-width:1450px; margin: 0px auto;}
.about-sec{padding:90px 0px 40px;}
.contact-us-sec{padding:90px 0px;}
.contact-us-sec .contact-us-wrap{background:#F4F4F6;padding:80px;border-radius:35px;}
.contact-us-sec .contact-us-wrap .contactUs-content{max-width:1056px;margin:0 auto;}

.form-main .form-group{margin-bottom:30px;}
.form-group .btn.submit-btn{width:100%;max-width:300px; margin-top: 30px;}
.contactUs-content .section-title{margin-bottom:45px;}

.about-text-box p {font-size: 24px; line-height: 45px; font-weight: 400; }
.about-wrap .about-text-wrap {margin-left: auto; max-width: 780px; }

.contact-us-bottom{border-top:1px solid #707070;margin-top:35px;padding-top:50px;}
.contact-us-bottom .contact-b-row{display:flex;flex-wrap:wrap;max-width:770px;justify-content:space-between;}
.contact-b-col h5{margin-bottom:15px;}
ul.social-link li a{display:inline-block;font-size:25px;color:#000;}
ul.social-link li{display:inline-block;margin-right:20px;margin-bottom:10px;}
ul.social-link li a:hover{color:#66E798;}

.subscribe-sec{padding:80px 0px;}
.subscribe-sec .subscribe-form-main .subscribe-wp{max-width:600px;margin:50px auto 20px;}
.footer-main .footer-text{padding:25px 0px;}
.footer-main .footer-text p{font-size:17px;text-align:center;margin-bottom:0px; color: #fff;}
.footer-main {background: #242637;}

:root{--spinner-color-1:rgba(111,202,220,.75);--spinner-color-2:rgba(102,231,152,.75);--spiner-color-3:rgba(233,169,32,.75);}
.moderspinner{width:40px;height:40px;border:dotted 5px var(--spinner-color-1);border-radius:100%;animation:spin 1s linear infinite;}
@keyframes spin{
	0%{transform:rotate(0deg) scale(0.8);border-top-color:transparent;border-right-color:transparent;}
	50%{transform:rotate(180deg) scale(1.2);border-color:var(--spinner-color-2);border-top-color:transparent;border-right-color:transparent;}
	100%{transform:rotate(360deg) scale(0.8);border-color:var(--spinner-color-3);border-top-color:transparent;border-right-color:transparent;}
}
.page-loader{z-index:9999999;position:fixed;background:#fff;top:0;left:0;right:0;bottom:0;width:100%;height:100%; overflow: hidden;}
.page-loader .moderspinner{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}

.about-text-box.vision-mission{margin:90px 0px 30px;}
.about-text-box.vision-mission h3{margin-bottom:40px;}

.app-screenshot-sec{background:#F5F5F7;padding:90px 0px; overflow: hidden;}
.app-screenshot-slider .screenshot{padding-right:40px;}
.app-screenshot-slider .screenshot img{max-width:100%;}
.app-screenshot-sec .app-screenshot-wrap{margin-right:-7%;}
.app-screenshot-wrap .slick-list.draggable{padding-right:16%;}

ul.slick-dots{font-size:0;text-align:center;}
ul.slick-dots li{display:inline-block;padding:10px;}
ul.slick-dots li button {font-size: 0; outline: 0; border: 1px solid #818181; width: 15px; height: 15px; border-radius: 100%; background: transparent; padding: 0; cursor: pointer; }
ul.slick-dots li.slick-active button{ background:#62E695; border-color:#62E695;}
.app-screenshot-slider ul.slick-dots{margin:80px 0px 20px; padding-right: 6.5%;}

.contact-link-main .contact-wrap{display:flex;align-items:center;padding:35px 0px;}
.contact-link-main .contact-wrap p{margin-bottom:0px;font-size:20px;line-height:34px;}
.contact-link-main .contact-wrap a.contact-link{font-size:20px;}
.contact-link-main .contact-wrap .content-right{width:210px;}
.contact-link-main .contact-wrap  .content-left{width:calc(100% - 210px);}
.contact-link-main .contact-wrap:first-child{border-bottom:1px solid #707070;}


.download-app-sec{padding:90px 0px;background:#fff;}
.download-app-sec .download-app-wrap{max-width:1380px;margin:0 auto;}
.download-app-sec .download-app-wrap h2{font-weight:500;}


.faqs-accordions .accordion-item{margin:20px 0px;border-radius:15px;background:#F4F4F6!important;border:none;overflow: hidden;}
.faqs-accordions .accordion-item .accordion-button{background:#F4F4F6;padding:30px 45px;border:none!important;box-shadow:none!important;}
.faqs-accordions .accordion-item .accordion-body{padding:0px 45px 33px;background: #00eb90;}
.faqs-accordions .accordion-item .accordion-button h6{font-size:30px;color:#1A1A1A;margin-bottom:0px;}
.faqs-accordions .accordion-item .accordion-body p { font-size: 24px; line-height: 34px; margin-bottom: 10px; font-weight: 400; color: #fff; }
.faqs-section{padding:20px 0px 100px;}
.faqs-section .faqs-wp{padding-top:40px;}
.accordion-button:not(.collapsed)::after{content:'\f107';font-family:fontAwesome;font-size:35px;height:auto;background:no-repeat;margin-bottom:-4px;color:#fff;}
.accordion-button::after{content:'\f107';font-family:fontAwesome;font-size:35px;height:auto;background:no-repeat;margin-bottom:-4px;}
.faqs-accordions .accordion-item .accordion-button:not(.collapsed){background:#00EB90 !important;}
.faqs-accordions .accordion-item .accordion-button:not(.collapsed) h6{color:#fff;}


@media (max-width: 1399px) {

	.faqs-accordions .accordion-item .accordion-button h6{font-size:26px;}
	.faqs-accordions .accordion-item .accordion-body p{font-size:18px;line-height: 30px;}
	.faqs-accordions .accordion-item .accordion-button{padding:25px 30px;}
	.faqs-accordions .accordion-item .accordion-body{padding:0px 30px 25px;}
	.faqs-section .faqs-wp{padding-top: 20px;}

}


@media (max-width: 991px) {

	.faqs-accordions .accordion-item .accordion-button h6{font-size:24px;}
	.accordion-button:not(.collapsed)::after,.accordion-button::after{font-size:28px;}
	.faqs-section {padding: 20px 0px 60px; }
	.faqs-accordions .accordion-item .accordion-body p{font-size:16px;line-height: 28px;}
}

@media (max-width: 767px) {

	.faqs-accordions .accordion-item .accordion-button h6{font-size:20px;}
	.faqs-accordions .accordion-item .accordion-body p{font-size:15px;}
	.faqs-accordions .accordion-item .accordion-button{padding:20px 25px;}
	.faqs-accordions .accordion-item .accordion-body{padding:0px 25px 20px;}
	.faqs-section .faqs-wp{padding-top: 15px;}
	.faqs-accordions .accordion-item {border-radius: 12px;}
}



