/*!
 * Remark Material (http://getbootstrapadmin.com/remark)
 * Copyright 2017 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-register-v2{height:100%}.page-register-v2:before{background-image:url(../../images/login.jpg); background-position: 54% 75%!important; transform: scaleX(-1);}.page-register-v2.page-dark.layout-full:after{background-color:rgba(33,33,33,.6)}.page-register-v2 .page-brand-info{margin:220px 100px 0 90px}.page-register-v2 .page-brand-info .brand-img{vertical-align:middle}.page-register-v2 .page-brand-info .brand-text{display:inline-block;margin:11px 0 11px 20px;vertical-align:middle}.page-register-v2 .page-brand-info p{max-width:650px;opacity:.6}.page-register-v2 .page-register-main{position:absolute;top:0;right:0;height:auto;min-height:100%;padding:150px 60px 180px;color:#757575;background:#fff}.page-register-v2 .page-register-main .brand{margin-bottom:60px}.page-register-v2 .page-register-main .brand-img{vertical-align:middle}.page-register-v2 .page-register-main .brand-text{display:inline-block;margin:11px 0 11px 20px;color:#3f51b5;vertical-align:middle}.page-register-v2 form{width:350px;margin:45px 0 20px}.page-register-v2 form>button{margin-top:38px}.page-register-v2 footer{position:absolute;right:0;bottom:0;left:0;margin:50px 60px;text-align:center}.page-register-v2 .social .icon,.page-register-v2 .social .icon:active,.page-register-v2 .social .icon:hover{color:#fff}@media (min-width:992px){.page-register-v2 .page-content{padding-right:500px}}@media (max-width:767px){.page-register-v2 .page-register-main{padding-top:60px}}@media (min-width:768px) and (max-width:991px){.page-register-v2 .page-register-main{padding-top:80px}.page-register-v2 .page-brand-info{margin:160px 0 0 35px}.page-register-v2 .page-brand-info>p{color:transparent;opacity:0}}@media (max-width:767px){.page-register-v2 .page-register-main{width:100%;padding-top:60px}.page-register-v2 form{width:auto}}@media (max-width:767px){.page-register-v2 .page-brand-info{margin:220px 0 0}.page-register-v2 .page-register-main{padding:50px 30px 180px}.page-register-v2 form{width:auto}.page-register-v2 footer{margin:50px 30px}}
